version: '3.8'

services:
  db:
    image: postgres:15
    container_name: bot_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build: .
    container_name: tg_bot
    restart: always
    depends_on:
      - db
    env_file:
      - .env

volumes:
  pgdata: